body {
  height: 500vw;
  font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
  -webkit-overflow-scrolling: touch;
  color: #555;
  background: #fff000;
}
.world {
  position: fixed; /* 스크롤 되어도 world 공간은 고정되어 있어야 함 */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  perspective: 1000px; /* 3D 공간을 만들어 줘야함. 기억 안나면 복습하기 */
}

.stage {
  position: absolute;  
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d; /* world의 3d 효과를 전달하기 위함 */
}

.house {
  /* 
    기본 크기는 스크롤을 다했을때 전체가 꽉 찬 상태로 한다
    z축을 가지고 작게보여지고 스크롤 할수록 확대 하도록 (기본 크기에 가까워짐)
  */
  width: 100vw;
  height: 100vh;
  transform: translateZ(-490vw); /* 줌아웃 */
  transform-style: preserve-3d;
}

/*
  좌,우벽은 폭은 엄청 넓게 늘리고 y축을 90도 회전해서 기다란 벽을 만듦
  안녕하세요, Hello, Hola 등이 보이는 컨텐츠 벽은 스크롤 할수록 다가와서 보여지는 형태
  각 인삿말 컨텐츠는 transform: tranlateZ 로 각각 다른 수치로 이동 시키고
  이 벽을 감싸고 있는 house div가 스크롤에 따라서 이동하는 형태로 코딩 할 예정
  각 벽이 자유롭도록 position: absolute; 로 포개서 설정
*/
.wall {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
}

.wall-left {
  background: #f8f8ff;
  /* left: -500vw; 1000vw 니까 500vw를 기준으로 회전했으니 그만큼 땡겨줘야함 */
  width: 1000vw;
  transform: rotateY(90deg) translateZ(-500vw); /* y축 기준으로 회전 */
}

.wall-right {
  background: #f8f8ff;
  /* left: -500vw; */
  width: 1000vw;
  transform: rotateY(90deg) translateZ(-400vw); /*left 대신 translateZ 로도 조정할 수 있음*/
}

.wall-front-a {transform: translateZ(300vw);}
.wall-front-b {transform: translateZ(50vw);}
.wall-front-c {transform: translateZ(-200vw);}
.wall-front-d {transform: translateZ(-500vw);}

.wall-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wall-title {
  font-size: 5rem;
}

.progress-bar-con {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 5px;
  background: #555;
}

.progress-bar {
  width: 0;
  height: 100%;
  background: #00a8ff;
}

/* character */
.character {
  position: absolute;
  left: 12%;
  bottom: 5%;
  width: 10vw;
  height: 15.58vw; /* width에 대한 비율, vh 아님 주의 */
  transform-style: preserve-3d;
}

/* 캐릭터가 바라보는 방향 */
.character[data-direction='forward'] { transform: rotateY(180deg); }
.character[data-direction='backward'] { transform: rotateY(0deg); }
.character[data-direction='left'] { transform: rotateY(-90deg); }
.character[data-direction='right'] { transform: rotateY(90deg); }

.character-face-con {
  position: absolute;
  transform-style: preserve-3d;
  transition: 1s;
}

.character-face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; /* 안하면 깜빡거림 */
}

.character-face.face-back {
  transform: rotateY(180deg);
}

/* 캐릭터 각 부위별 스타일 */
.character-head {
  left: calc(42 / 856 * 100%); /* 전체 width 856에서 머리가 왼쪽에서 떨어진 거리인 42로 나눈 비율 */
  top: 0;
  z-index: 60;
  width: calc(770 / 856 * 100%); /* 전체 width 856에서 머리의 실제 크기인 770 로 나눈 비율 */
  height: calc(648 / 1334 * 100%);
  transform-origin: center bottom; /* transform 적용할 기준점 default는 center, center*/
  animation: ani-head 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
}
.character-head-face.face-front { background-image: url('images/ilbuni_head_front.png'); }
.character-head-face.face-back { background-image: url('images/ilbuni_head_back.png'); }

.character-torso {
    left: calc(208 / 856 * 100%);
    top: calc(647 / 1334 * 100%);
    z-index: 50;
    width: calc(428 / 856 * 100%);
    height: calc(385 / 1334 * 100%);
    transform-origin: center center;
}
.character-torso-face.face-front { background-image: url('images/ilbuni_body_front.png'); }
.character-torso-face.face-back { background-image: url('images/ilbuni_body_back.png'); }
.character-arm-right {
    left: 0;
    top: calc(648 / 1334 * 100%);
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: right top;
}
.character-arm-right .face-front { background-image: url('images/ilbuni_arm_0.png'); }
.character-arm-right .face-back { background-image: url('images/ilbuni_arm_1.png'); }
.character-arm-left {
    left: calc(600 / 856 * 100%);
    top: calc(648 / 1334 * 100%);
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: left top;
}
.character-arm-left .face-front { background-image: url('images/ilbuni_arm_1.png'); }
.character-arm-left .face-back { background-image: url('images/ilbuni_arm_0.png'); }
.character-leg-right {
    left: calc(200 / 856 * 100%);
    top: calc(1031 / 1334 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg-right .face-front { background-image: url('images/ilbuni_leg_0.png'); }
.character-leg-right .face-back { background-image: url('images/ilbuni_leg_1.png'); }
.character-leg-left {
    left: calc(414 / 856 * 100%);
    top: calc(1031 / 1334 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg-left .face-front { background-image: url('images/ilbuni_leg_1.png'); }
.character-leg-left .face-back { background-image: url('images/ilbuni_leg_0.png'); }